.am__scroll-btn-container{
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 30px;
}
.am__scroll-btn{
  border: none;
  background: transparent;
  
  cursor: pointer;
}
.am__scroll-btn svg{
  filter: opacity(.5);
  transition: all .2s ease-out;
}
.am__scroll-btn:hover svg{
  filter: opacity(1);
}

@media screen and (max-width: 500px) {
  .am__scroll-btn-container{
    display: none;
  }
}