
.am__shef-content{
  padding: 2rem 6rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.am__shef-img{
  height: 1000px;
  width: 900px;
  margin-bottom: 3rem;
}
.am__shef-img img{
  width: 900px;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 990px) {
  .am__shef-img{
    width: 600px;
    height: 700px;
  }
  .am__shef-img img{
    width: 600px;
  }
}
@media screen and (max-width: 700px) {
  .am__shef-img{
    width: 400px;
    height: 500px;
  }
  .am__shef-img img{
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .am__shef-img{
    width: 300px;
    height: 400px;
  }
  .am__shef-img img{
    width: 300px;
  }
}
@media screen and (max-width: 400px) {
  .am__shef-img{
    width: 200px;
    height: 300px;
  }
  .am__shef-img img{
    width: 200px;
  }
}